<a href="https://colab.research.google.com/github/FranzLouiseGloriani/Demo_1/blob/main/Demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introduction to Python Programming

In [6]:
#This is a program to print string hehe
a = "Franz"
print(a)

Franz

In [22]:
#This is a program to differ a to A and a to a1 hehe

a = "Franz"
A = "Louise"
b = "Belostrino"
B = "Gloriani"
print(a)
print(A)
print(b)
print(B)

a = "Franz"
a1 = "Louise"
b = "Belostrino"
b1 = "Gloriani"
print(a)
print(a1)
print(b)
print(b1)

Franz
Louise
Belostrino
Gloriani
Franz
Louise
Belostrino
Gloriani

In [8]:
#This is a program to print integer hehe
a, b, c = 0, 1, 2
print(a)
print(b)
print(c)

0
1
2

In [25]:
#This is a program to print types of integer hehe
a = int(8)
print(a)

b = float(8)
print(b)

c = float(8.0000)
print(c)

d = float(8.0123)
print(d)

e = float(8.01234567)
print(e)

8
8.0
8.0
8.0123
8.01234567

In [17]:
#This is a program to print the type of the variable hehe
a = "Franz"
print(type(a))
b = 0
print(type(b))
c = float(0)
print(type(c))
d = 0
print(type(float(0)))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'float'>

One Value to Multiple Variables

In [24]:
x = y = z = "Franz"
print(x)
print(y)
print(z)

Franz
Franz
Franz

In [31]:
x = "Fun"
print('Python programming is' + x)        #Comma
print('Python programming is' + ' ' + x) 
print("Python programming is" + x)        #Double Comma
print("Python programming is" + " " + x)

Python programming isFun
Python programming is Fun
Python programming isFun
Python programming is Fun

In [41]:
x = 5
y = 10
print(x+y) #Addition
print(x-y) #Subtraction
print(x*y) #Multiplication
print(x/y) #Division

#This is an example of program using logical operator
x<y and x==x #If one is true, it will result true
x>y and x==x #Both are False

15
-5
50
0.5

False